- unless user_signed_in?
  = render 'welcome'

- if events.any?
  .page-header
    = link_to "Create event", [:new, :event], class: "btn btn-primary pull-right"
    %h1 Events

  .row
    - events.each do |event|
      .span2
        = event.date.to_s(:short)
      .span10
        = link_to event.name, event_path(event)

- else
  %h2 There are no events yet.

  - if user_signed_in?
    %br
    = link_to "Create event", [:new, :event], class: "btn btn-primary btn-large"

