.page-header
  .pull-right
    - if user_signed_in? and not current_user.participated?(resource)
      = link_to "Join", [:join, resource], method: :put, class: 'btn btn-primary'
    - if resource.owned_by?(current_user)
      = link_to "Edit", [:edit, resource], class: 'btn btn-primary'
  %h1
    = title resource.name

.row
  .span12

    %p= l resource.time, format: :human

    = markdown resource.description

    - if resource.address.present?
      %p== Address: #{resource.address}

.row
  .span12
    %h3.block_heading
      Participants 
      %small
        == (#{resource.participants.count})

  - resource.participants.in_groups(4) do |group|
    .span3
      %ul.participants
        - group.each do |participant|
          - unless participant.blank?
            %li
              = gravatar_for participant
              = participant.name
