.page-header
  %h1
    = resource.name
    - if user_signed_in? and not current_user.participated?(resource)
      = link_to "Join", [:join, resource], method: :put, class: 'btn btn-primary btn-large'
    - if resource.owned_by?(current_user)
      = link_to "Edit", [:edit, resource], class: 'btn btn-primary btn-large'

.row
  .span12
    %p= resource.description
    - if resource.address.present?
      %p== Address: #{resource.address}
    %p== Date: #{resource.date}
    - if resource.time.present?
      %p== Time: #{l resource.time, format: :time_only}

    %h2 Participants

    %ul.participants
      - resource.participants.each do |participant|
        %li= participant.name
