!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "SetupMeetup"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="/favicon.ico" rel="shortcut icon")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "SetupMeetup", root_path, class: :brand
          .container.nav-collapse
            %ul.nav
              %li= link_to "Create event", new_event_path
              -#%li= link_to "Link 2", "/path2"
              -#%li= link_to "Link 3", "/path3"
            %ul.nav.pull-right
              - if user_signed_in?
                %li
                  %span== Hello, #{current_user.name}!
                %li.divider-vertical
                %li= link_to "Sign out", destroy_user_session_path, method: :delete
              - else
                -# %li= link_to "Sign in", new_user_session_path
                -# %li= link_to "Sign up", new_user_registration_path
                -# %li= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
                -# %li= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter)
                %li= link_to "Sign in with Google", user_omniauth_authorize_path(:google)

    .main.container
      .row
        .span12
          - flash.each do |name, msg|
            %div{ class: "alert alert-#{name == :notice ? "success" : "error"}" }
              %a{ class: "close", data: { dismiss: "alert" } } ×
              = msg


      = yield

      %footer.footer
        %p &copy; SetupMeetup 2012
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
