%h2== Hi #{@recipient.name},

%p Meetup information has been changed.

%p
  = link_to "\"#{@event.name}\"", event_url(@event)
  %br/
  == will be help on #{l @event.date, format: :human} at #{l @event.time, format: :time_only}
  - if @event.address.present?
    %br/
    == at #{@event.address}

- if @event.description.present?
  %h3 Meetup description

  = markdown @event.description
