%h2== Hi #{@recipient.name},

%p New meetup is coming soon.

%p
  == #{@event.owner_name} invites you to 
  = link_to "\"#{@event.name}\"", event_url(@event)
  %br/
  == on #{l @event.time, format: :human}
  - if @event.address.present?
    %br/
    == Address: #{@event.address}


- if @event.description.present?
  %h3 Meetup description

  %p= @event.description
