%h2== Hi #{@recipient.name},

%p New meetup is coming soon.

%p
  == #{@event.owner_name} invites you to 
  = link_to "\"#{@event.name}\"", event_url(@event)
  %br/
  == on #{l @event.date, format: :human} at #{l @event.time, format: :time_only}
  - if @event.address.present?
    %br/
    == at #{@event.address}


- if @event.description.present?
  %h3 Meetup description

  = markdown @event.description
